---
import { typeColors } from "../utils/typeColors";

interface Props {
  name: string;
  id: number;
  img?: string;
  types: string[];
}

const { id, name, img, types } = Astro.props;
const primaryTypeKey = types[0] ?? 'Desconocido';
const bgClass = typeColors[primaryTypeKey] ?? 'bg-gray-800';
console.log(primaryTypeKey)
---

<a
  href={`/pokemons/${id}`}
  class={`flex flex-col items-center rounded-4xl border shadow-md p-4 transition transform hover:scale-105 ${bgClass} border-gray-700`}

>
  {
    img && (
      <picture class="flex justify-center p-4">
        <img class="mb-5 rounded-lg" src={img} alt={`Artwork de ${name}`} width="150" />
      </picture>
    )
  }

  <header class="p-4 flex flex-col items-center text-center">
    <p class="mb-4 font-light text-black">
      ID: {id}
    </p>
    <h2 class="my-2 text-2xl font-bold tracking-tight text-black">
      <p>Nombre Pokemon:</p>
      <p>{name.toUpperCase()}</p>
    </h2>
    <p class="text-sm text-black">Tipos: {types.join(', ')}</p>
  </header>
</a>
